registry=https://registry.npmmirror.com

# Electron 二进制文件镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# 增加超时时间（毫秒）
npm_config_timeout=120000